<div class="image-upload">
    <label *ngIf="imageSrc.base64 == ''" class="circle"><span>{{  placeholder }}</span></label>
    <img *ngIf="imageSrc.base64 != ''" [src]="imageSrc.base64" class="circle" />
  
    <label for="file-input">
      <span *ngIf="isEdit">
        <img src="../assets/images/Camera.png" class="button-circle" />
      </span>
  
      <span *ngIf="isDelete">
        <img src="../assets/images/Delete.png" class="button-circle" />
      </span>
    </label>
    <input *ngIf="isEdit" id="file-input" type="file" (change)="handleInputChange($event)" />
    <button *ngIf="isDelete" style="visibility: hidden;" id="file-input" type="button" (click)="removeImage()"></button>
  </div>
  