<mat-form-field [floatLabel]="'always'">
   <mat-label>{{label}}</mat-label>
   <span *ngIf="isPrefix && prefixType === 'text'" matPrefix>{{prefixContent}} &nbsp;</span>
   <mat-icon *ngIf="isPrefix && prefixType !== 'text'" matPrefix>{{prefixContent}}</mat-icon>
   <input matInput type="number" class="input-right-align" [name]="name"
      (focusout)="validateVolume(name)" #textInput
      [(ngModel)]="volumeVal"  [placeholder]="placeholder" [disabled]="isDisabled" [required]="isRequired"
      appThreeDigitDecimal >
   <span *ngIf="isSuffix && suffixType === 'text'" matSuffix>{{suffixContent}} &nbsp;</span>
   <mat-icon *ngIf="isSuffix && suffixType !== 'text'" matSuffix>{{suffixContent}}</mat-icon>
   <mat-hint *ngIf="isHint">{{hintText}}</mat-hint>
 </mat-form-field>