.document-upload>input {
    display: none;
  }
  
  .document-upload i {
    font-size: 35px;
    cursor: pointer;
    background: white;
    padding: 9px 8px 7px 17px;
    border-radius: 50px;
  }
  
  .uploaded_file_name {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  
  
  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    height: 120px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 20px;
    text-align: center !important;
    margin: 0;
    width: 100% ;
  
  }
  
  .files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
  }
  
  .files {
    position: relative
  }
  
  .files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 24px;
    right: 0;
    height: 24px;
    content: "";
    // background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  // .color input{ background-color:#f1f1f1;}
  // .files:before {
  //     position: absolute;
  //     bottom: 10px;
  //     left: 0;  pointer-events: none;
  //     width: 100%;
  //     right: 0;
  //     height: 57px;
  //     content: " or drag it here. ";
  //     display: block;
  //     margin: 0 auto;
  //     color: #2ea591;
  //     font-weight: 600;
  //     text-transform: capitalize;
  //     text-align: center;
  // }
  
  .image-upload>input {
    visibility: hidden;
    width: 0;
    height: 0
  }
  
  .button-circle {
    width: 40px;
    height: 40px;
    padding: 8px;
    position: absolute;
    bottom: 10px;
    left: 80px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .upload_box {
    width: 100%;
    height: 130px;
    border-style: dashed;
    padding: 5px;
    text-align: center;
    left: 0;
    border-color: #c8d3d7;
    line-height: 1;
    cursor: pointer;
    background-color: #ffff;
    padding-top: 25px;
  
    .upload_input {
        position: absolute;
        width: 100%;
        height: 55px;
        opacity: 0;
        cursor: pointer;
        margin-left: -70px;
        margin-top: -6px;
    }
  
    .upload_img {
        height: 42px;
    }
    
    [type="file"] {
        // height: 0;
        // overflow: hidden;
        // width: 0;
        overflow: hidden;
        position: absolute;
        height: 146px;
        width: 330px;
        top: -10px;
        left: -9px;
        opacity: 0;
        z-index: 9;
    }
  
    [type="file"] + label {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-family: "Rubik", sans-serif;
        font-size: inherit;
        font-weight: 500;
        outline: none;
        padding: 10px;
        position: relative;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        vertical-align: middle;
        color: #a0a2a2;
        font-size: 14px;
    }
  
    .footer_ico {
        color: #c8d3d7;
        vertical-align: middle;
    }
  }
  