
mat-label.required::after {
    content: "*";
    color: #E5456D;
}

label.required::after {
    content: "*";
    color: #E5456D;
}

::ng-deep .alert-danger{
    color:#E5456D !important;
    background-color:transparent !important;
    border-color:#F2F4F5 !important;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height:17px;
    letter-spacing: 0px;
    opacity: 1;
}

::ng-deep .alert{
    padding:0px !important;
    margin:0px !important;
    border:none;
}


::ng-deep mat-form-field input:focus {
    border: 2px solid #00b8f1 !important;
    border-radius: 4px !important;
}