
 
    <!-- <input  [type]="type" [required]="required" [placeholder]="placeholder" [tabindex]="taborder" [value]="value" [readonly]="readonly" [(ngModel)]="value"/> -->
    
    <div class="simple-text-input-wrapper">
      <div class="simple-text-input-table">
        <div class="simple-text-input-prefix" *ngIf="isPrefix">
          <div  class="prefix-content" select="[simple-text-prefix]" [innerHTML]="prefixContent"></div>
        </div>
    
        <div class="simple-text-input-infix">
          <input #simpleInputText="ngModel"
              [name]="name"
              [type]="type"
              [required]="required"
              [placeholder]="placeholder" 
              [tabindex]="taborder" 
              [value]="value"
              [readonly]="isReadOnly"
              [(ngModel)]="value"

              [pattern]="pattern"
    
              [autofocus]="focused"
              [disabled]="disabled"
              class="simple-text-input-element"
              [ngClass]="inputValue"
              [id]="identifier"    
              [max]="maxlength"
              [maxlength]="maxlength"
              [min]="minlength"
              [minlength]="minlength" 
              autocomplete="off"
              (click)="openLink($event);"
              (keyup)="_keyUpHandler($event);"
          /> 
          <div class="simple-text-input-suffix" *ngIf="isSuffix">
            <!-- <span select="[simple-text-suffix]"></span>{{suffixContent}} -->
            <div class="suffix-content" [innerHTML]="suffixContent"></div>
          </div>
          <label *ngIf="label" 
            class="simple-text-input-placeholder"
            [attr.for]="inputId"
            [class.required]="required"
            [class.simple-text-empty]="empty"
            [class.simple-text-focused]="focused"
            [class.simple-text-float]="isFloatLabel"
            [class.simple-text-accent]="dividerColor == 'accent'"
            [class.simple-text-warn]="dividerColor == 'warn'" 
          > {{ label }} </label> 
        </div>
    
     
      </div>
        
        <div class="simple-text-input-underline"
           [class.simple-text-disabled]="disabled">
          <span class="simple-text-input-ripple"
                [class.simple-text-focused]="focused"
                [class.simple-text-accent]="dividerColor == 'accent'"
                [class.simple-text-warn]="dividerColor == 'warn'"></span>
        </div>
    
        <div *ngIf="isHint==true" class="simple-text-hint">{{hintText}}</div>
        <div select="simple-text-hint"></div>
    </div>
    
    
    <!-- touched : {{ simpleInputText.touched }}
    dirty : {{ simpleInputText.dirty }}
    pristine : {{ simpleInputText.pristine }}
    invalid : {{ simpleInputText.invalid }} 
    valid : {{ simpleInputText.valid}} 
    required : {{ required }} 
    <br/> {{ (simpleInputText.errors && (simpleInputText.touched || simpleInputText.dirty) && !simpleInputText.valid) }} -->
    <!-- errors : {{ simpleInputText.errors | json }}  -->
    <!-- minLength : {{minLength}} -->
    <!-- showErrors : {{showErrors}} -->
    <!-- simpleInputText.errors : {{simpleInputText.errors | json}} -->
    
    <div class="error" *ngIf="(errorStatus == null && simpleInputText.errors && (simpleInputText.touched || simpleInputText.dirty) && !simpleInputText.valid) || (errorStatus == null && showErrors)">
      <div *ngIf="required && simpleInputText.errors && simpleInputText.errors?.required" class="alert alert-danger">
          {{ label || 'This field' }} is required.
      </div>
      <div *ngIf="simpleInputText.errors && simpleInputText.errors.minlength" class="alert alert-danger">
        Minimum {{minlength}} characters are required.
      </div>
      <div *ngIf="simpleInputText.errors && simpleInputText.errors.maxlength" class="alert alert-danger">
        Maximum {{maxlength}} characters are allowed.
      </div>
      <div *ngIf="simpleInputText.errors && simpleInputText.errors.pattern" class="alert alert-danger">
        Invalid email ID.
      </div>
    </div>

    <div class="error form-control-error" *ngIf="errorStatus != null && errorStatus.errors && (errorStatus.touched || errorStatus.dirty)">
      <div *ngIf="errorStatus.errors && errorStatus.errors['required']" class="alert alert-danger">
          {{label}} is required.
      </div>
      <div *ngIf="errorStatus.errors && errorStatus.errors['minlength']" class="alert alert-danger">
          Minimum {{minlength}} characters are required.
      </div>
      <div *ngIf="errorStatus.errors && errorStatus.errors['maxlength']" class="alert alert-danger">
          Maximum {{maxlength}} characters are allowed.
      </div>
    </div>

    <!-- {{errorStatus | json}} -->