// .custom-share {
//     /* max-width: 45vw; */
//     border-radius: 0px;
//     top: 10px;
//     /* box-shadow: unset !important; */
// }

// .modal { 
//     z-index: 2;
//     top: 10%;
//     background: none;
// }

// .modal-header { 
//     border-bottom: 1px solid #dee2e6; 
// }

// .bl-status-input-1{
//     width: 60px;
//     position: absolute;
//     left: 180px;
//     top: 0;
//     min-height: unset !important;
//     background: transparent !important;
//     height: unset;
//     padding: 0px 5px !important;
//     text-align: right;
//     border: none !important;
//     border-bottom: 1px solid !important;
//     border-radius: 0px !important;
// }

// .bl-status-input-2{
//     width: 60px;
//     position: absolute;
//     right: 15px;
//     top: 0;
//     min-height: unset !important;
//     background: transparent !important;
//     height: unset;
//     padding: 0px 5px !important;
//     text-align: right;
//     border: none !important;
//     border-bottom: 1px solid !important;
//     border-radius: 0px !important;
// }

// .mail-body-container {
//     .body-label {

//     }
//     .mail-body-input {
//         width: 100%;
//     }
// }

.share_modal {
  display: block;
  position: fixed;
  z-index: 9;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.share_modal_content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 712px;
  position: absolute;
  right: 25px;
  bottom: 20px;
  height: 565px;

  h3 {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    background: #35b9f1;
    margin-bottom: 0px;
    color: #ffffff;
  }

  .inner_content {
    padding: 30px;
  }

  .mail-body-input {
    width: 100%;
  }

  .custom_s12 {
    text-align: right;
    margin-top: 15PX;
  }

  .attach {
    line-height: 1.5;
    padding: 9px 7px;
    cursor: pointer;
    font-size: 20px;
  }

  .close_img {
    float: right;
  }
}

.fileUpload {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  /*14px/16px*/
  position: absolute;
  text-align: center;
  width: 120px;
  //cursor: pointer;
  background: #36baf2cc;
  pointer-events: auto! important;
  cursor: not-allowed! important;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.new_share_model {
  z-index: 9999;
}